#right{
	background-color:lightblue;
	border:1px solid black;
	}
#ala{
	background-color:lightblue;

}
#geo{
	background-color:lightblue;

}
.menu-context {
    position: absolute;
    left:-9999px;
    top:-9999px;
    background: #222;
    color:#fff;
    list-style:none;
    padding:0;
    margin:0;
    width:300px;
    padding:10px;
    border-radius: 4px;
    box-shadow:0 2px 4px rgba(0,0,0,0.3);
    font-size:13px;
}
.menu-context li {
    border-bottom:1px solid #444;
    cursor: pointer;
}
.menu-context li a {
    color:#fff;
    text-decoration: none;
    padding:5px 10px;
    display: block;
    transition:0.5s all;
}
.menu-context li a:hover {
    background: #F15C5C;
    color:#fff;
}
.menu-context li:last-child {
    border:0;
}
#mapid { 
    height: 800px;
    height: 400px; 
}